<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{% if title %}
				{{ title }} |
			{% endif %}
			Escargot MSN Server
		</title>
		
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
		<link rel="stylesheet" href="/static/CSS+JS/downloads.css"/>
		
		<script src="/static/CSS+JS/langs.js"></script>
	</head>

	<body>
		<div id="id" title="patching"></div>

		<style type="text/css">
			body {
				background-color: #cbeaff;
			}
			.logo {
				position: absolute;
				top: 5px;
				left: 10px;
			}
			.patching {
				margin-top: 100px;
			}
		</style>

		<a href="/" class="logo">
			<img src="/static/logo.png" width="250px" />
		</a>

		<div class="patching">
			<center>
				<div class="ver-button" id="81-btn" onclick="showP('8x');">
					<img src="/static/msnIcons/wlm8.png" height="100">
					<p>WLM 8</p>
				</div>

				<div class="ver-button" id="75-btn" onclick="showP('75');">
					<img src="/static/msnIcons/msn.png" height="100">
					<p>MSN 7.5</p>
				</div>

				<div class="ver-button" id="70-btn" onclick="showP('70');">
					<img src="/static/msnIcons/msn.png" height="100">
					<p>MSN 7.0</p>
				</div>
			</center>

			<div class="instructions" align="center">
				<div id="patchnone">
					<h2 id="none-title">Patching Instructions</h2>
					<p id="none-body" align="left">
						If you want to patch MSN yourself, you'll need a <a href='https://mh-nexus.de/en/hxd' target='_blank'>hex editor</a>
						(but <a href='https://notepad-plus-plus.org' target='_blank'>Notepad++</a> works too if you're careful),
						or you can use <a href='https://gitlab.com/enhanox' target='_blank'>enhanox</a>'s
						<a href='http://storage.log1p.xyz/misc/Escargot-Autopatcher-1.2.exe'>Escargot Autopatcher</a>.
					</p>
				</div>

				<div id="patch8x" class="hidden">
					<h2 id="patch8x-title">WLM 8.1 - 8.5</h2>
					<p id="patch8x-body" align="left">
						<p id="p8-s1">Replace <code>msidcrl40.dll</code> with <a href="http://storage.log1p.xyz/msidcrl.dll">this file</a>, and edit <code>msnmsgr.exe</code>:</p>
						
						<ol>
							<li id="p8-s2">Change <code>messenger.hotmail.com</code> to <code>m1.escargot.log1p.xyz</code></li>
							<li id="p8-s3">Change <code>byrdr.omega.contacts.msn.com</code> to <code>ebyrdromegactcsmsn.log1p.xyz</code></li>
							<li id="p8-s4">Change <code>tkrdr.storage.msn.com</code> to <code>etkrdrstmsn.log1p.xyz</code></li>
							<li id="p8-s5">Change <code>ows.messenger.msn.com</code> to <code>eowsmsgrmsn.log1p.xyz</code></li>
							<li id="p8-s6">Change <code>rsi.hotmail.com</code> to <code>ersih.log1p.xyz</code></li>
							<li id="p8-s7">Change <code>http://config.messenger.msn.com/Config/MsgrConfig.asmx</code> to <code>https://escargot.log1p.xyz/etc/MsgrConfig?padding=qqqq</code></li>
						</ol>
					</p>
				</div>

				<div id="patch75" class="hidden">
					<h2 id="patch75-title">MSN 7.5</h2>
					<p id="patch75-body" align="left">				
						<p id="p75-s1">Replace <code>msidcrl.dll</code> with <a href="http://storage.log1p.xyz/msidcrl.dll">this file</a>, and edit <code>msnmsgr.exe</code>:</p>
						<ol>
							<li id="p75-s2">Change <code>messenger.hotmail.com</code> to <code>m1.escargot.log1p.xyz</code></li>
							<li id="p75-s3">Change <code>http://config.messenger.msn.com/Config/MsgrConfig.asmx</code> to <code>https://escargot.log1p.xyz/etc/MsgrConfig?padding=qqqq</code></li>
						</ol>
					</p>
				</div>

				<div id="patch70" class="hidden">
					<h2 id="patch70-title">MSN 7.0</h2>
					<p id="patch70-body">
						<p id="p70-s1">Edit <code>msnmsgr.exe</code>:</p>
						<ol>
							<li id="p70-s2">Change <code>messenger.hotmail.com</code> to <code>m1.escargot.log1p.xyz</code></li>
							<li id="p70-s3">Change <code>https://nexus.passport.com/rdr/pprdr.asp</code> to <code>https://m1.escargot.log1p.xyz/nexus-mock</code></li>
							<li id="p70-s4">Change <code>PassportURLs</code> to <code>Passporturls</code></li>
							<li id="p70-s5">Change <code>http://config.messenger.msn.com/Config/MsgrConfig.asmx</code> to <code>https://escargot.log1p.xyz/etc/MsgrConfig?padding=qqqq</code></li>
						</ol>
					</p>
				</div>

				<div id="patch50" class="hidden">
					<h2 id="patch50-title">MSN 5.0 - 6.2</h2>
					<p id="patch50-body">
						<p id="p50-s1">First edit <code>msnmsgr.exe</code>:</p>
						<ol>
							<li id="p50-s2">Change <code>messenger.hotmail.com</code> to <code>m1.escargot.log1p.xyz</code></li>
							<li id="p50-s3">Change <code>https://nexus.passport.com/rdr/pprdr.asp</code> to <code>https://m1.escargot.log1p.xyz/nexus-mock</code></li>
							<li id="p50-s4">Change <code>PassportURLs</code> to <code>Passporturls</code></li>
							<li id="p50-s5"><strong>(6.0+ only)</strong> Change <code>http://config.messenger.msn.com/Config/MsgrConfig.asmx</code> to <code>https://escargot.log1p.xyz/etc/MsgrConfig?padding=qqqq</code></li>
						</ol>
						<p id="p50-s6">
							Then edit the registry and change <code>HKEY_CURRENT_USER\SOFTWARE\Microsoft\MSNMessenger\Server</code>
							to <code>m1.escargot.log1p.xyz</code>.
						</p>
						<p id="p50-s7">
							You can either use the registry editor, or download and run this file: <a href="http://storage.log1p.xyz/SetEscargotServer.reg">SetEscargotServer.reg</a>
						</p>
					</p>
				</div>

				<div id="patch10" class="hidden">
					<h2 id="patch10-title">MSN 1.0 - 4.7</h2>
					<p id="patch10-body">
						<p id="p10-s1">
							After installing, edit the registry and change <code>HKEY_CURRENT_USER\SOFTWARE\Microsoft\MessengerService\Server</code>
							to <code>m1.escargot.log1p.xyz</code>.
						</p>
						<p id="p10-s2">
							You can either use the registry editor, or download and run this file: <a href="http://storage.log1p.xyz/SetEscargotServer.reg">SetEscargotServer.reg</a>
						</p>
					</p>
				</div>
			</div>

			<center>
				<div class="ver-button" id="50-btn" onclick="showP('50');">
					<img src="/static/msnIcons/msn.png" height="100">
					<p>MSN 5.0 - 6.2</p>
				</div>

				<div class="ver-button" id="10-btn" onclick="showP('10');">
					<img src="/static/msnIcons/1-3-lg2.png" height="100">
					<p>MSN 1.0 - 4.7</p>
				</div>
			</center>
		</div>

		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119140043-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-119140043-1');
		</script>
	</body>
</html>